api_gateway_image   = "123456789012.dkr.ecr.af-south-1.amazonaws.com/project-olympus-dev-api-gateway:latest"
admin_api_image     = "123456789012.dkr.ecr.af-south-1.amazonaws.com/project-olympus-dev-admin-api:latest"
customer_api_image  = "123456789012.dkr.ecr.af-south-1.amazonaws.com/project-olympus-dev-customer-api:latest"
schedule_api_image  = "123456789012.dkr.ecr.af-south-1.amazonaws.com/project-olympus-dev-schedule-api:latest"
partner_api_image   = "123456789012.dkr.ecr.af-south-1.amazonaws.com/project-olympus-dev-partner-api:latest"

azure_tenant_id     = ""
azure_client_id     = ""
azure_client_secret = ""
azure_api_audience  = ""
azure_authority     = "https://login.microsoftonline.com/<tenant-id>"

applicationinsights_connection_string = ""

mysql_master_username = "olympus_admin"
mysql_master_password = ""

certificate_arn     = ""
admin_web_domain    = ""
customer_web_domain = ""
